/* This is where styles are defined for your page. */


/* One style is provided as example. */

body {
  background-image: url('images/hard-paper-texture.jpg');
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

p {
  font-family:
}

header.page-header {
/*   background-color: lightblue; */
  padding: 1rem;
}

.page-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
}

.page-header p {
  margin-top: 0;
}

.page-header small {
  font-size: 20px;
}

section#content {
  /*   background-color: lightcoral; */
}

aside.more-info {
/*   background-color: lightgray; */
}

aside.more-info img {
  
  width: 200px;
  height: auto;
  display: block;
  margin-bottom: .2cm;
}
.info-links {
  margin-bottom: 0;
}

.social-links {
  margin-top: 0;
}

section.poem {
  /*   background-color: lightgreen; */
}

.poem {
  list-style-type: none;
  font-size: large;
  line-height: 1.8;
  list-style-position: outside;
   margin: 0;
  padding: 0;
}


footer.page-footer {
  /*   background-color: lightsalmon; */
}